.codeWrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.codeWrapper pre {
  padding-left: 20px !important;
  display: flex !important;
}

.codeLine {
  position: relative;
  display: block;
}

.warning {
  background: rgba(255, 223, 64, 0.27);
}

.warning:hover:after {
  content: attr(data-msg);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  max-width: 200px;
  background: white;
  border: 1px solid #ddd;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 #ddd;
  white-space: pre-line;
}

.warning:before {
  content: "";
  background-image: url("../assets/warning.jpg");
  width: 20px;
  height: 20px;
  position: absolute;
  left: -56px;
  background-size: 14px;
  background-repeat: no-repeat;
}

.error {
  background: rgb(255, 236, 236);
}

.error:hover:after {
  content: attr(data-msg);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 100%;
  background: white;
  border: 1px solid #ddd;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 #ddd;
  white-space: pre-line;
}

.error:before {
  content: "";
  background-image: url("../assets/error.png");
  width: 20px;
  height: 20px;
  position: absolute;
  left: -56px;
  background-size: 14px;
  background-repeat: no-repeat;
}
